.env
*.ipynb
*.log
env
*/__pycache__\
data/pdf/
data/uploaded_pdfs
app/__pycache__
utils/__pycache__
__pycache__
last_update_timestamp.txt
*.zip
.idea
alembic
alembic.ini
result_mistral7binstructv02.json
result_amazon.titan-text-express-v1.json
mistral7binstructv02.json
amazon.titan-text-express-v1.json
